.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a.step-nav__home {
  width: 25px;
}

ul.query-inspector__json-children,
ul.query-inspector__json-children--nested {
  direction: ltr;
}
